<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link href="/css/bootstrap.css" rel="stylesheet">
  <script src="/js/jquery-3.7.0.js"></script>
  <script src="/js/bootstrap.bundle.js"></script>
  
  <style>
  
  </style>
  
  <script>
  
  </script>
</head>
<body>
<footer class="mt-5 border-top border-3" th:fragment="footer">
  <div class="py-5">
    <h1 class="text-center">Footer 영역</h1>
  </div>
</footer>
</body>
</html>